$oxygen: "Oxygen", sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    section{
        width: 50%;
        min-height: 100%;
        max-height: 100%;
    }
    .banner{
        background-image: url("../img/bg-min.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 50px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .wp-logo{
            display:flex;
            flex-direction: row;
            justify-content: center;
            img{
                width: 500px;
            }
        }
        .wp-title{
            width: 100%;
            height: auto;
            h1{
                text-align: center;
                color: #fff;
                font-family: $oxygen;
                font-weight: bold;
                font-size: 80px;
            }
        }
        .wp-copy{
            width: 100%;
            padding: 20px;
            padding-top: 250px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .copy-text{
                color: #ffffff;
                font-family: $oxygen;
                text-align: center;
            }
        }
    }
    .form{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px;
        form{
            width: 55%;
            .wp-logo{
                display:flex;
                flex-direction: row;
                justify-content: center;
                img{
                    width: 300px;
                }
            }
            .wp-inputs{
                width:100%;
                height: auto;
                padding:30px 20px;
                label{
                    font-family: $oxygen;
                    font-size: 18px;
                    color: #191919;
                }
                input{
                    width: 100%;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    padding:12px 15px;
                    border-radius: 12px;
                    border: 1px solid #707070;
                    font-size: 18px;

                }
                .wp-passwords{
                    .wp-toggle{
                        margin-bottom: 20px;
                        margin-top:5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        input{
                            width:85%;
                            margin: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-right: none;
                        }
                        button{
                            box-sizing: border-box;
                            width:15%;
                            padding: 5px 15px;
                            border: 0;
                            background: #4188FF;
                            border-top-right-radius: 12px;
                            border-bottom-right-radius: 12px;
                            color: #ffffff;
                            font-family: $oxygen;
                            cursor: pointer;
                            img:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
            .button{
                width: 100%;
                background: #FED83F;
                border: 0;
                border-radius: 12px;
                padding: 12px 15px;
                margin-bottom: 15px;
                color: #fff;
                font-family: $oxygen;
                font-size: 20px;
                font-weight: bold;
            }
            .move{
                transition: all 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .wp-link{
                width:100%;
                display: flex;
                flex-direction:row;
                justify-content:center;
            }
            .link{
                background: transparent;
                color: #191919;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                margin-bottom: 0;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
@media screen and (max-width:450px){
    main{
        flex-direction: column;
        align-items: center;
        section{
            width: 100%;
            min-height: auto;
            max-height: auto;
        }
        .banner{
            height: auto;
            padding-top: 750px;
            .wp-title{
                h1{
                    font-size: 35px;
                    text-align: center;
                }
            }
        }
        .form{
            padding: 10px;
            form{
                width: 100%;
                .wp-logo{
                    padding: 40px;
                }
                .wp-inputs{
                    padding:0;
                    .wp-passwords{
                        .wp-toggle{
                            button{
                                img{
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*  */