$oxygen: 'Oxygen',sans-serif;
$lato: 'Lato',sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: $oxygen;
    font-size: 18px;
    background: #f2f2f2;
}
.btnAdd{
    bottom: 50px;
    right: 50px;
    width:60px;
    height: 60px;
    border-radius: 50%;
    background: #FED83F;
    border: 0;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    transition: all 0.3s ease;
    &:hover{
        background: #f7cf31;
        transform: scale(1.1);
    }
}
.wp-division{
    width:100%;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
    aside{
        width: 3%;
        height: 100vh;
        background: #282C36;
        position: fixed;
        .wp-logoCl{
            width: 100%;
            height: 6vh;
            padding: 2px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            background: #FED83F;
            margin-bottom: 10px;
            img{
                width: 70px;
            }
        }
        .wp-navbar{
            width: 100%;
            height: 86vh;
            nav{
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: column;
                align-items: center;
                a{
                    margin-bottom: 40px;
                    padding: 10px;
                    img{
                        width: 35px;
                    }
                    
                }

            }
        }
        .wp-logout{
            width: 100%;
            height: 10vh;
            background: #40434C;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items: center;
            a{
                margin-top: -25px;
                img{
                    width:35px;
                }
            }
        }
    }
    .wp-suplied{
        width:3%;
    }
    main{
        width: 97%;
        height: auto;
        display: flex;
        flex-direction: column;
        header{
            width: inherit;
            height: 6vh;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            position: fixed;
            background: #ffffff;
            padding:12px 15px ;
            .wp-userInfo{
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .wp-username{
                    margin-right: 10px;
                    span{
                        text-transform: capitalize;
                    }
                }
                .wp-imgUser{
                    img{
                        width: 50px;
                    }
                }
            }
        }
        .suplant{
            width: 100%;
            height: 6vh;
        }
        .cont{
            width: 100%;
            height: auto;
            .modelos{
                width: 100%;
                padding: 50px;
                .title-modelos{
                    width: 100%;
                    height: auto;
                    text-align: center;
                    h1{
                        font-size: 50px;
                        font-family: $oxygen;
                        font-weight: bold;
                    }
                }
                .modelos-p{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content:center;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    p{
                        width: auto;
                        height: auto;
                    }
                }
                .modelos-img{
                    width: 100%;
                    height: auto;
                    padding: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content:center;
                    img{
                        width: 35%;
                    }
                }
                .wp-modelos{
                    width: 100%;
                    height: auto;
                    display:flex;
                    flex-direction: row;
                    justify-content:space-between;
                    align-items: center;
                    .card{
                        background: #ffffff;
                        width: 30%;
                        border-radius: 12px;
                        .card-header{
                            width: 100%;
                            padding: 15px 12px;
                            h2{
                                text-transform: capitalize;
                                text-align: left;
                            }
                        }
                        .card-img{
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content:center;
                            align-items: center;
                            margin: 15px 0;
                            img{
                                width: 80%;
                            }
                        }
                        .card-btns{
                            width: 100%;
                            height: auto;
                            padding: 20px 15px;
                            display: flex;
                            flex-direction: row;
                            justify-content:space-between;
                            .btn{
                                width:49%;
                                background: #FED83F;
                                border-radius: 12px;
                                border: 0;
                                padding:12px;
                                text-align:center;
                                text-decoration: none;
                                font-family: $oxygen;
                                font-weight: bold;
                                font-size: 22px;
                                color: #fff;
                            }
                            .btn-delete{
                                background: none;
                                color: #FE0034;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

