doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="css/index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet")
    body
        include header.pug
        main
            form(id="login")
                input(type="text",id="user" name="user", placeholder="User")
                input(type="password",id="password" name="pf",placeholder="Password")
                if title === "login"

                else
                    input(type="password",id="passwordConfirm" name="pff", placeholder="Repeat Password")
                button(class="btn" type="submit" id="submit") Submit

        include footer.pug
        script(src="js/jquery.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        if title === "login"
            script(src="js/login.js")
        else
            script(src="js/register.js")
