doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if type === "login"
            title Login
        else
            title Register
        link(rel="stylesheet", href="css/index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet")
    body
        main
            section(class="banner")
                div(class="wp-logo")
                    img(src="img/colamer-2.svg", alt="")
                div(class="wp-title")
                    if type === "login"
                        h1 Inicia sesion
                    else
                        h1 Registrarse
                div(class="wp-copy")
                    span(class="copy-text") Copyright © Todos los derechos reservados
            section(class="form")
                form(id="login")
                    div(class="wp-logo")
                        if type == "login"
                            img(src="img/login.svg", alt="imagen de logueo")
                        else
                            img(src="img/register.svg", alt="imagen de Registro")
                    div(class="wp-inputs")
                        if type === "login"

                            label(for="correo" class="subtitle is-5") Correo
                            input( type="email",id="correo" name="correo", placeholder="Correo")
                        else
                            label(for="user" class="subtitle is-5") Usuario
                            input( type="text",id="user" name="user", placeholder="Usuario")
                        
                        if type === "login"
                        
                        else
                            label(for="user" class="subtitle is-5") Correo
                            input( type="email",id="correo" name="correo", placeholder="Correo")
                        div(class="wp-passwords")
                            label(for="password" class="subtitle is-5") Contraseña
                            div(class="wp-toggle")
                                input( type="password",id="password" name="pf",placeholder="Contraseña")
                                button(class="button-toggle" ref="password")
                                        img(src="img/eye.svg",id="img-1" alt="v")
                                        img(src="img/hide.svg",id="img-2" alt="nv")
                            if type === "login"

                            else
                                label(for="passwordConfirm" class="subtitle is-5") Contraseña(nuevamente)
                                div(class="wp-toggle")
                                    input(class="input" type="password",id="passwordConfirm" name="pff", placeholder="Repeat Password")
                                    button(class="button-toggle" ref="passwordConfirm" )
                                        img(src="img/eye.svg", id="img-3" alt="v")
                                        img(src="img/hide.svg",id="img-4" alt="nv")
                        if type === "login"
                            button(class="button move" type="submit" id="submit") Ingresar
                        else
                            button(class="button move" type="submit" id="submit") Registrarse

                        div(class="wp-link")
                            if type === "login"
                                a(class="button link" href="/register") Registrarse
                            else
                                a(class="button link" href="/") Inicia sesion
        script(src="js/jquery.min.js")
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        if type === "login"
            script(src="js/login.js")
        else
            script(src="js/register.js")
