doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if type === "login"
            title Login
        else
            title Register
        link(rel="stylesheet", href="css/index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet")
    body
        main
            section(class="banner")
                div(class="wp-logo")
                    img(src="img/colamer-2.svg", alt="")
                div(class="wp-title")
                    if type === "login"
                        h1 Inicia sesion
                    else
                        h1 Registrarse
                div(class="wp-copy")
                    span(class="copy-text") Copyright © Todos los derechos reservados
            section(class="form")
                form(id="login")
                    div(class="wp-logo")
                        if type == "login"
                            img(src="img/login.svg", alt="imagen de logueo")
                        else
                            img(src="img/register.svg", alt="imagen de Registro")
                    div(class="wp-inputs")
                        label(for="user" class="subtitle is-5") Usuario
                        input( type="text",id="user" name="user", placeholder="Usuario")

                        label(for="user" class="subtitle is-5") Correo
                        input( type="email",id="correo" name="correo", placeholder="Correo")
                        div(class="wp-passwords")
                            label(for="password" class="subtitle is-5") Contraseña
                            input( type="password",id="password" name="pf",placeholder="Contraseña")
                            button(class="button-toggle" ref="password")
                                    img(src="", alt="v")
                                    img(src="", alt="nv")
                            if type === "login"

                            else
                                label(for="passwordConfirm" class="subtitle is-5") Contraseña(nuevamente)
                                input(class="input" type="password",id="passwordConfirm" name="pff", placeholder="Repeat Password")
                                button(class="button-toggle" ref="passwordConfirm" )
                                    img(src="", alt="v")
                                    img(src="", alt="nv")
                        button(class="button" type="submit" id="submit") Submit
                        if type === "login"
                            a(href="/register") Registrarse
                        else
                            a(href="/") Inicia sesion
            
        script(src="js/jquery.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        if type === "login"
            script(src="js/login.js")
        else
            script(src="js/register.js")
