doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Profile
        link(rel="stylesheet", href="/css/perfil.css")
        link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
    body
        div(class="wp-division")
            include layout/navbar.pug
            main
                include layout/barUp.pug
        script(src="js/jquery.min.js")
        script(src="https://unpkg.com/@popperjs/core@2")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="js/perfil.js")

