doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body
        include header.pug
        main
            form(id="login")
                input(type="text",id="user," name="user", placeholder="User")
                input(type="password",id="password" name="pf",placeholder="Password")
                input(type="password",id="passwordConf" name="pff", placeholder="Repeat Password")
                button(type="submit" id="submit") Submit

        include footer.pug
        script(src="js/jquery.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="js/register.js")