* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section {
  width: 50%;
  min-height: 100%;
  max-height: 100%;
}
main .banner {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .banner .wp-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .banner .wp-logo img {
  width: 500px;
}
main .banner .wp-title {
  width: 100%;
  height: auto;
}
main .banner .wp-title h1 {
  text-align: center;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 80px;
}
main .banner .wp-copy {
  width: 100%;
  padding: 20px;
  padding-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .banner .wp-copy .copy-text {
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  text-align: center;
}
main .form {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
main .form form {
  width: 55%;
}
main .form form .wp-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .form form .wp-logo img {
  width: 300px;
}
main .form form .wp-inputs {
  width: 100%;
  height: auto;
  padding: 30px 20px;
}
main .form form .wp-inputs label {
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  color: #191919;
}
main .form form .wp-inputs input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #707070;
  font-size: 18px;
}
main .form form .wp-inputs .wp-passwords .wp-toggle {
  margin-bottom: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .form form .wp-inputs .wp-passwords .wp-toggle input {
  width: 85%;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
main .form form .wp-inputs .wp-passwords .wp-toggle button {
  box-sizing: border-box;
  width: 15%;
  padding: 5px 15px;
  border: 0;
  background: #4188FF;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  cursor: pointer;
}
main .form form .wp-inputs .wp-passwords .wp-toggle button img:last-child {
  display: none;
}
main .form form .button {
  width: 100%;
  background: #FED83F;
  border: 0;
  border-radius: 12px;
  padding: 12px 15px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
main .form form .move {
  transition: all 0.3s ease;
}
main .form form .move:hover {
  transform: scale(1.05);
}
main .form form .wp-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .form form .link {
  background: transparent;
  color: #191919;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0;
}
main .form form .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  main section {
    width: 100%;
    min-height: auto;
    max-height: auto;
  }
  main .banner {
    height: auto;
    padding-top: 600px;
  }
  main .banner .wp-title h1 {
    font-size: 35px;
    text-align: center;
  }
  main .form {
    padding: 10px;
  }
  main .form form {
    width: 100%;
  }
  main .form form .wp-logo {
    padding: 40px;
  }
  main .form form .wp-inputs {
    padding: 0;
  }
  main .form form .wp-inputs .wp-passwords .wp-toggle button img {
    height: 35px;
  }
}
/*  */

/*# sourceMappingURL=index.css.map */
