div(class="modelos" id="empty")
    div(class="title-modelos")
        h1 Modelos
    div(class="modelos-p")
        p Parece que aun no tienes modelos añadidos, puedes agregar uno dando tan solo un click en el boton de Mas
    div(class="modelos-img")
        img(src="icons/empty.svg", alt="empty-draw")