div(class="modelos" id="empty")
    div(class="modelos-title")
        h1 Modelos
    div(class="modelos-p")
        p Aun no tienes modelos agregados agrega uno dando click aqui abajo
    div(class="modelos-btn")
        button(id="add-model2") Añadir modelo
    div(class="modelos-img")
        img(src="icons/empty.svg", alt="empty-draw")