div(class="error")
    div(class="error-title")
        h1 Error
    div(class="error-p")
        p Un error desconocido ha ocurrido
    div(class="error-img")
        img(src="icons/error.svg", alt="error draw")