aside
    div(class="wp-logoCl")
        img(src="/imgProfile/logo.svg" alt="logo-colamer")
    div(class="wp-navbar")
        nav
            a(href="/modelos" id="more" aria-label="Modelos" data-balloon-pos="right")
                img(src="/icons/group.svg", alt="" aria-label="Modelos" data-balloon-pos="right")
            a(href="" aria-label="Documentos" data-balloon-pos="right")
                img(src="/icons/document.svg", alt="" )
            a(href="" aria-label="Correos" data-balloon-pos="right")
                img(src="/icons/correo-electronico.svg", alt="")
            if dataRender[3] === 'admin'
                a(href="" aria-label="Usuarios" data-balloon-pos="right")
                    img(src="/icons/usuario.svg", alt)
    
            a(href="" aria-label="Configuracion" data-balloon-pos="right")
                img(src="/icons/engranaje.svg", alt)
    div(class="wp-logout" )
        a(href="/logout" aria-label="Salir" data-balloon-pos="right") 
            img(src="/icons/salida.svg")
div(class="wp-suplied")