header
    div(class="wp-top")
        nav
            div(class="wp-profile")
                if img === null
                    img(src="icons/user.svg", alt="User Image")
                else
                    img(src="icons/user.svg", alt="User Image")
                span= user
            div(class="wp-btn-menu" id="menu")
                img(src="icons/menu.svg")
    div(class="wp-bottom" id="menu-display")
        div(class="wp-title")
            h1 Menu
        div(class="middle-bar")
            div(class="bar")
        div(class="nav-links")
            nav
                a(href="/modelos")
                    img(src="icons/group.svg", alt="") 
                    p Modelos
                a(href="/documentos")
                    img(src="icons/document.svg", alt="") 
                    p Archivos
                a(href="/correos")
                    img(src="icons/correo-electronico.svg", alt="") 
                    p Correos
                a(href="/usuarios")
                    img(src="icons/usuario.svg", alt="") 
                    p Usuarios
                a(href="/configuracion")
                    img(src="icons/engranaje.svg", alt="") 
                    p Configuracion
                a(id="logout")
                    img(src="icons/salida.svg", alt="") 
                    p Salir