aside
    div(class="wp-logoCl")
        img(src="imgProfile/logo.svg" alt="logo-colamer")
    div(class="wp-navbar")
        nav
            a(href="/modelos" id="more")
                img(src="/icons/group.svg", alt="")
            a(href="")
                img(src="/icons/document.svg", alt="")
            a(href="")
                img(src="/icons/correo-electronico.svg", alt="")
            if dataRender[3] === 'admin'
                a(href="")
                    img(src="/icons/usuario.svg", alt)
    
            a(href="")
                img(src="/icons/engranaje.svg", alt)
    div(class="wp-logout")
        a(href="/logout") 
            img(src="/icons/salida.svg")
div(class="wp-suplied")